body {
    margin: 0;
}

#wrapper {
    background-image: url(http://digital-art-gallery.com/oid/18/3543x2035_4916_Earth_2d_sci_fi_concept_art_speed_painting_architecture_picture_image_digital_art.jpg);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.fixed {
    position: fixed;
    top: 0;
}